/home/user/Projects/language-projects/antlr-book/projects/hello-world/antlr/java/*.java
/home/user/Projects/language-projects/antlr-book/projects/hello-world/antlr/java/*.class
/home/user/Projects/language-projects/antlr-book/projects/hello-world/antlr/java/*.tokens
/home/user/Projects/language-projects/antlr-book/projects/hello-world/antlr/CSharp/*.tokens
/home/user/Projects/language-projects/antlr-book/projects/hello-world/antlr/CSharp/*.cs
