projects/hello-world/antlr/java/*.java
projects/hello-world/antlr/java/*.class
projects/hello-world/antlr/java/*.tokens
projects/hello-world/antlr/CSharp/*.tokens
projects/hello-world/antlr/CSharp/*.cs
